@model Intranet.Fittme.Models.AutenticacaoModel

@{
    ViewBag.Title = "Index";
}
@section styles{
<link href="~/fonts/poppins/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/main.css">
<link rel="stylesheet" type="text/css" href="~/Content/util.css">    
<meta name="viewport" content="width=device-width, initial-scale=1">
}

<div id="alert-helper" style="z-index: 99999999;"></div>
<div class="limiter">
    <div class="container-login100" style="background-image: url('/Content/Images/bg-01.jpg');">
        <div class="wrap-login100">
            <form method="post" id="formLogin" action="/Autenticacao/Autentica" class="login100-form validate-form">
                <span class="login100-form-logo">   
                    <image class="img-logo" src="/Content/Images/logo.jpg"></image>
                </span>

                <span class="login100-form-title p-b-34 p-t-27">
                    LOGIN
                </span>

                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    <input id="txtLogin" class="input100" type="text" name="Usuario" placeholder="Usuário">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input id="txtSenha" class="input100" type="password" name="Senha" placeholder="Senha">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button id="btnLogin" class="login100-form-btn"> 
                        Login
                    </button>
                </div>

                <div class="text-center p-t-20">
                    <a class="txt1" href="#">
                        Esqueceu a senha?
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
<script src="~/Scripts/autenticacao.js"></script>
}



