<div class="col-md-12">
    <div class="row">
        <font data-opcao="abrir" class="tituloFiltro">
            FILTROS
            <i class="glyphicon glyphicon-chevron-down"></i>
        </font>
    </div>
</div>

<div class="filtro">
    <form action="" role="form">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="tipoFiltro">Por Nome:</div>
                    <input type="text" class="inputFiltro" />
                </div>
                <div class="col-md-2">
                    <div class="tipoFiltro">Por Tamanho:</div>
                    <select class="selectFiltro">
                        <option>Escolha um..</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <div class="tipoFiltro">Por Cor:</div>
                    <select class="selectFiltro">
                        <option>Escolha um..</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="tipoFiltro">Pelo Código FITT.ME:</div>
                    <input type="text" class="inputFiltro" />
                </div>
                <div class="col-md-4">
                    <div class="tipoFiltro">Pelo Código Fornecedor:</div>
                    <input type="text" class="inputFiltro" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <button class="buttonFiltro">
                        FILTRAR&nbsp;
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                    <button class="buttonFiltro" id="btnLimpar">
                        limpar&nbsp;
                        <i class="glyphicon glyphicon-erase"></i>
                    </button>
                    <input type="reset" id="btnReset" style="display:none;"/>
                </div>
            </div>
            <div class="row"><div class="col-md-12">&nbsp;</div></div>
        </div>
    </form>
</div>
