@model List<Intranet.Fittme.Models.ProdutoViewModel>

@{
    ViewBag.Title = "Listar";
    ViewBag.TituloPagina = "Produtos";
    ViewBag.SubTituloPagina = "Estoque de produtos";
}

@section styles{
<link href="~/Content/produto/card.css" rel="stylesheet" />
}


<div id="detalhes"></div>

<br />

<div id="produtos">
    @Html.Partial("Produtos/_FiltroProdutosPartial")
    <div id="partialProdutos">
        @Html.Partial("Produtos/_ProdutosPartial", Model);
    </div>
    
</div>

@* MODAL EXCLUIR PRODUTO *@
<div class="modal fade" id="modalExcluirProduto" tabindex="-1" role="dialog" aria-labelledby="modalExcluirLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="modalExcluir">
                    Excluir Produto
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </p>

            </div>
            <div class="modal-body">
                Você tem certeza que deseja excluir o produto <font id="txtProduto"></font>?
                <input type="hidden" id="txtCodigoProdutoDelete" value="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                <button type="button" id="btnExcluirProduto" class="btn btn-danger">Excluir</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/produto/listar.js"></script>
}

